audacious/
betterlockscreen/
calibre/
Code/
tiling-assistant/
spotify/
gnome-session/
goa-1.0/
gtk-3.0/
gtk-4.0
htop/
ibus/
nautilus/
xdg-terminal.list
user-dirs.dirs
user-dirs.locale
pulse/
GNOME-xdg-terminals.list
gnome-initial-setup-done
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
vlc/
mimeapps.list
evolution/
kitty/
QtProject.conf
.gitignore
tmux/plugins/
